body {
  background-color: #596b2c;
  padding: 80px;
  font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

form {
  background-color: #90ac4a;
  padding: 20px;
  border-radius: 6px;
  width: 70%;
  -webkit-box-shadow: 0px 2px 74px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 74px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 74px -6px rgba(0,0,0,0.75);
  font-weight: bold;
  margin: 100px auto 0 auto;
}

fieldset {
  border: none;
  padding: 7px 10px;
  margin: 0;
}

fieldset label {
  margin: 0 15px;
}

input[disabled]{
  cursor: not-allowed;
}

form button {
  border: none;
  background: none;
  color: white;
  font-weight: bold;
}

form h1 {
  display: block;
  background-color: rgba(0,0,0,0.5);
  margin-top: 0;
  border-radius: 6px 6px 0 0;
  padding: 7px;
  padding-left: 15px;
  color: #ffffff;
}

a {
  padding: 5px;
  display: block;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.1s ease-in;
}

button#agregar_button {
  width: 170px;
  text-align: center;
  float: right;
  padding: 10px 0;
  background-color: rgba(0,0,0,0.3);
  transition: all 0.1s ease-in;
}

button#agregar_button:hover {
  background-color: rgba(0,0,0,0.4);
  cursor: pointer;
}

#input_cantidad {
  width: 50px;
}

#input_total {
  width: 100px;
}

#input_ciudad {
  width: 120px;
}

#input_direccion {
  width: 200px;
}

.error {
  border:none;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 21px 5px rgba(153,72,72,1);
  -moz-box-shadow: 0px 0px 21px 5px rgba(153,72,72,1);
  box-shadow: 0px 0px 21px 5px rgba(153,72,72,1);
}

h3.error_msg {
  display: none;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
  padding: 5px 10px;
  color: rgba(255,255,255,0.7);
}
